* {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

#start {
    background-color: plum;
    font-size: 20px;
}

#timer {
    color: darkslategrey;
    font-size: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
}

#quiz-container {
    color: rgb(186, 109, 186);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

#question {
    font-size: 20px;
}

#answers {
    font-size: 16px;
}

.container {
    color: rgb(186, 109, 186);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}